# Core functionality - changes here should be rare!
/src/app.py                   @pini91
/src/backend/database.py      @pini91
/src/backend/routers/auth.py  @pini91

# The frontend will need refactored soon to be more object oriented.
/src/static/   @pini91
